@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/clash-display');
*{
    box-sizing: border-box;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
}
header{
    background-image: url('../src/Images/headerApe.png'), url('./Images/Mask.png') ;
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    background-size:60% 75%, 100% 80%;
}
.mask{
    background:url('./Images/Mask02.png') no-repeat;
    background-position: bottom left;
    background-size:100%;
}
.bg-topp::after, .box-after::after{
    content: '';
    left: 0;
    position: absolute;
    background-size:100%;
    background-position: top left;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.bg-topp::after{
    top: -18%;
    background: url('./Images/Masks.svg') no-repeat;
}
.box-after::after{
    background: url('./Images/MaskF.png') no-repeat;
    opacity: .5;
    top: -60%;
    z-index: 999999999999999;
}
h4, h5, h6, p{
    font-family:'Poppins'
}
h1, h2, h3{
    font-family: 'Clash Display', sans-serif;;
}
.extra{
    color:transparent;
}
.bd-color{
    border-color: transparent;
    /* color:#ffffff26; */
}
.outer-border{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.gall-box{
    box-shadow:  4px 5px rgba(0, 7, 72, 0.041);
}
.link-hover:hover{
    color: #EACCF8;
    transition: .5s ease;
}
