@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/clash-display');
*{
    box-sizing: border-box;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
}
header{
    background-image: url('../src/Images/headerApe.png'), url('./Images/bottom.png') ;
    background-repeat: no-repeat;
    background-position: bottom right, bottom center;
    background-size:60% 75%, 100% 40%;
}
h4, h5, h6, p{
    font-family:'Poppins'
}
h1, h2, h3{
    font-family: 'Clash Display', sans-serif;;
}
.extra{
    color:transparent;
}
.bd-color{
    border-color: transparent;
    /* color:#ffffff26; */
}
.outer-border{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.gall-box{
    box-shadow:  4px 5px rgba(0, 7, 72, 0.041);
}
