
*{
    box-sizing: border-box;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
}
header{
    background-image: url('../src/Images/headerApe.png'), url('./Images/Mask.png') ;
    background-repeat: no-repeat;
    background-position-y: 1000px, bottom;
    background-position-x:right,left ;
    background-size:60% 75%, 100% 80%;
    animation: bg-head 1s ease-in-out .5s 1 forwards;
}
@keyframes bg-head {
    0%   {background-position-y:1000px,bottom;opacity: 0;}
    100%{background-position-y:bottom;opacity: 1;}
}
.mask{
    background:url('./Images/Mask02.png') no-repeat;
    background-position: bottom left;
    background-size:100%;
}
.bg-topp::after, .box-after::after{
    content: '';
    left: 0;
    position: absolute;
    background-size:100%;
    background-position: top left;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.bg-topp::after{
    top: -18%;
    background: url('./Images/Masks.svg') no-repeat;
}
.box-after::after{
    background: url('./Images/MaskF.png') no-repeat;
    opacity: .5;
    top: -60%;
    z-index: 999999999999999;
}
h4, h5, h6, p{
    font-family:'Poppins' cochin ;
}
h1, h2, h3{
font-family: 'Clash Display', 'Times New Roman';
}
.extra{
    color:transparent;
}
.bd-color{
    border-color: transparent;
}
.outer-border{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.gall-box{
    box-shadow:  4px 5px rgba(0, 7, 72, 0.041);
}
.link-hover:hover{
    color: #EACCF8;
    transition: .5s ease;
}
.active{
    transform: scale(1.2);
    justify-self: center;
    background-color: green;
}
.active-left{
    right: -5%;
}
.active-right{
    left: -5%;
}

@keyframes bg-change {
    0%   {background-image:url('./Images/Ape1.png');}
    20%  {background-image:url('./Images/HAPE4-02.png');}
    40%  {background-image:url('./Images/HAPE4-03.png');}
    60%  {background-image:url('./Images/HAPE4-04.png');}
    80% {background-image:url('./Images/HAPE4-05.png');}
    100% {background-image:url('./Images/HAPE4-06.png');}
}

.animate-image{
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    animation: bg-change 15s ease-in-out 5s infinite alternate;
}
.animate-image:hover{
    animation-play-state: paused;
}
.animate-image:focus{
    animation-play-state: paused;
}
.animate-border{
    border-color: #1a219eb4;
    transition: .5s ease;
}
.icon-div{
    display:flex ;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
@media(max-width:1000px) {
    header{
        background-size:69% 60%, 100% 60%;
    }
    .form-btn{
        width:25%;
    }
}
@media(max-width:750px) {
    header{
        background-size:85% 35%, 100% 50%;
    }
    .form-btn{
        width:25%;
    }
}